{% extends 'base.html' %}
{% block body %}
    <main class="posts-listing col-lg-12"> 
          <div class="container">
            <div class="row">

            {% for post in blogs %}

              <!-- post -->
              <div class="post col-xl-6">
                <div class="post-thumbnail"><a href="{% url 'post' post.id %}"><img src="{{post.thumnail.url}}" alt="..." class="img-fluid"></a></div>
                <div class="post-details">
                  <div class="post-meta d-flex justify-content-between">
                    <div class="date meta-last">{{post.created_at}}</div>
                    <div class="category">
                      {% for cat in post.categories.all %}
                        <a href="#">{{cat}}</a>
                      {% endfor %}
                    </div>
                  </div><a href="{% url 'post' post.id %}">
                    <h3 class="h4">{{post.title}}</h3></a>
                  <p class="text-muted">{{post.description|truncatechars:200}}</p>
                  <div class="post-footer d-flex align-items-center"><a href={% url 'userprofile' post.author.id %} class="author d-flex align-items-center flex-wrap">
                      <div class="avatar"><img src="{{post.author.profile.url}}" alt="..." class="img-fluid"></div>
                      <div class="title"><span>{{post.author.user.username}}</span></div></a>
                    <div class="date"><i class="icon-clock"></i> {{post.created_at|timesince}} ago </div>
                  </div>
                </div>
              </div>
              {%empty%}
              <strong>No Blog found</strong>
            {% endfor %}
            </div>

            <!-- Pagination -->
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-template d-flex justify-content-center">
                <li class="page-item"><a href="#" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
                <li class="page-item"><a href="#" class="page-link active">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
              </ul>
            </nav>
          </div>
        </main>



{% endblock body %}