{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{userprofile.profile.url}}" alt="Admin" class="rounded-circle" width="150" height="150">
                    <div class="mt-3">
                      <h4>{{userprofile.user.first_name|title}} {{userprofile.user.last_name|title}}</h4>
                      <p class="text-secondary mb-1">{{userprofile.bio}}</p>
                      <p class="text-muted font-size-sm">{{userprofile.description|safe}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">First Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{userprofile.user.first_name}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Last Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{userprofile.user.last_name}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{userprofile.user.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Contact</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{userprofile.contact}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{userprofile.address|title}}
                    </div>
                  </div>
                  <hr>
                  {% if userprofile.user == request.user %}
                    <div class="row">
                      <div class="col-sm-12">
                        <a class="btn btn-info " href="{% url 'edituserprofile' userprofile.id %}">Edit</a>
                      </div>
                    </div>
                  {% endif %}
                </div>
              </div>

              
            </div>
          </div>

        </div>
    </div>
    <main class="posts-listing col-lg-12"> 
          <div class="container">
            <div class="row">

            {% for post in posts %}

              <!-- post -->
              <div class="post col-xl-6">
                <div class="post-thumbnail"><a href="{% url 'post' post.id %}"><img src="{{post.thumnail.url}}" alt="..." class="img-fluid"></a></div>
                <div class="post-details">
                  <div class="post-meta d-flex justify-content-between">
                    <div class="date meta-last">{{post.created_at}}</div>
                    <div class="category">
                      {% for cat in post.categories.all %}
                        <a href="#">{{cat}}</a>
                      {% endfor %}
                    </div>
                  </div><a href="{% url 'post' post.id %}">
                    <h3 class="h4">{{post.title}}</h3></a>
                  <p class="text-muted">{{post.description|truncatechars:200}}</p>
                  <div class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                      <div class="avatar"><img src="{{post.author.profile.url}}" alt="..." class="img-fluid"></div>
                      <div class="title"><span>{{post.author.user.username}}</span></div></a>
                    <div class="date"><i class="icon-clock"></i> {{post.created_at|timesince}} ago </div>
                  </div>
                </div>
              </div>
              {%empty%}
              <strong><p class="text-center">No Blogs Posted Yet!</p></strong>
            {% endfor %}
            </div>
          </div>
        </main>


{% endblock body %}